/* Font Styles */

html {
  font-family: "Fira Code", "monospace", monospace, "Droid Sans Fallback";
}

/* Toggle Theme Styles */

:root {
  --bg: #fffff0; /* ivory */
  --text: #333333; /* charcoal */
  --button-bg: #9955bb; /* lilac */
  --button-interior: #333333; /* charcoal */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #5a5a5a;
    --text: #fffff0; /* ivory */
    --button-bg: #03ffc0; /* electric green */
    --button-interior: #333333; /* charcoal */
  }
}

#theme:checked ~ * {
  --bg: #5a5a5a; /* charcoal */
  --text: #fffff0; /* ivory */
  --button-bg: #03ffc0; /* electric green */
  --button-interior: #333333; /* charcoal */
}

@media (prefers-color-scheme: dark) {
  #theme:checked ~ * {
    --bg: #fffff0; /* ivory */
    --text: #333333; /* charcoal */
    --button-bg: #9955bb; /* lilac */
    --button-interior: #333333; /* charcoal */
  }
}

.scheme-wrapper {
  min-height: 100vh;
  background: var(--bg);
  color: var(--text);
}

#theme {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 60px;
  height: 30px;
  border-radius: 30px;
  background-color: white;
  position: fixed;
  top: 20px;
  right: 20px;
  transition: all 0.5s ease-in;
  cursor: pointer;
  z-index: 1;
}

#theme::before {
  content: "";
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: var(--button-interior);
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in;
}

#theme:checked {
  background: var(--button-bg);
}

#theme:checked::before {
  background: var(--button-interior);
  left: 32px;
}

/* Body Styles */

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg);
  margin: 0;
}

.navbar {
  top: 0;
  width: 50rem;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
  z-index: 1;
}

.navbar__left {
  display: flex;
  justify-content: start;
  padding: 0px;
}

.navbar__logo {
  width: 5rem;
}

.navbar__right {
  display: flex;
  margin-top: 30px;
  padding: 0px;
  list-style-type: none;
  padding: 0;
}

.navbar__link a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5px;
  margin-right: 7.5px;
}

.container {
  flex: 1;
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
  overflow-y: overlay;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  margin-top: 80px;
  top: 50;
  z-index: 0;
}

.content::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Height of the top section you want to style */
  backdrop-filter: blur(4px);
  filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  -moz-filter: blur(4px);
  -webkit-filter: blur(4px);
}

.footer {
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: auto;
  color: var(--button-bg);
}

a {
  text-decoration: none;
  color: var(--text);
  cursor: pointer;
}

a:hover {
  color: var(--button-bg);
}

.navbar__link a:active {
  border-bottom: 2px solid var(--button-bg);
}

.navbar__link:focus {
  outline: none;
  padding: 5px;
}
